<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <h1>Add user</h1>
    <form method="POST" action="http://localhost:3000/addUser.html">

        아이디 : <input type="text" name="id"><br>
        패스워드 : <input type="password" name="pw"><br>
        이름 : <input type="text" name="name"><br>
        나이 : <input type="text" name="age"><br>

        <input type="submit" value="Join" name="">
        <input type="button" value="login Page" onclick="location.href='/'">
    </form>
</body>
</html>